.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.headerSearch{
    display:flex;
    flex:1;
    align-items:center;
    border-radius:25px;
}
.searchInput{
    height:13px;
    padding:10px;
    border:none;
    width:40%;

}
.searchIcon{
    padding:5px;
    height:22px;
  background-color: #cd9042;
}